{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
    <h1>Chengdu Network Tools Catalogue</h1>
    <div>
        <table border="1">
          <tr>
            <th><span>Feature</span></th>
            <th style="width:400px;"><span>Description</span></th>
          </tr>
          <tr>
            <th><a href="/networktools/custom/chengdu/add_mac/"><span>Add mac address</span></a></th>
            <th><span>description</span></th>
          </tr>
        </table>
    </div>
{% endblock %}
