{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
<div align="center">
    <h1>Common Network Tools Catalogue</h1>
    <div>
        <table border="1">
          <tr>
            <th style="text-align:center;"><span>Feature</span></th>
            <th style="text-align:center;width:400px;"><span>Description</span></th>
            <th style="text-align:center;width:200px;"><span>Release</span></th>
          </tr>
          <tr>
            <th><a href="/networktools/common/tcp_easy_test/"><span>Tcp Test</span></a></th>
            <th><span>description</span></th>
            <th><span>Release</span></th>
          </tr>
          <tr>
            <th><a href="/networktools/common/udp_easy_test/"><span>Udp Test</span></a></th>
            <th><span>description</span></th>
            <th><span>Release</span></th>
          </tr>
          <tr>
            <th><a href="/networktools/common/tcp_group_test/"><span>Tcp Multiple Test</span></a></th>
            <th><span>description</span></th>
            <th><span>Release</span></th>
          </tr>
          <tr>
            <th><a href="/networktools/common/udp_group_test/"><span>Udp Multiple Test</span></a></th>
            <th><span>description</span></th>
            <th><span>Release</span></th>
          </tr>
          <tr>
            <th><a href="/networktools/common/ping_tracrt_to_file/"><span>Ping&Tracert Test</span></a></th>
            <th><span>description</span></th>
            <th><span>Release</span></th>
          </tr>
          <tr>
            <th><a href="/networktools/common/test_all_ports/"><span>Test all ports</span></a></th>
            <th><span>description</span></th>
            <th><span>Release</span></th>
          </tr>
        </table>
    </div>
</div>
{% endblock %}